/* styles.css */
a {
    cursor: pointer;
}
form {
    width: 300px;
    margin:auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
} 

input {
    background-color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

div > div {
    font-size: 13px;
}

button {
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #aaa;
}

button:hover:not(:disabled) {
    background-color: dodgerblue;
}
#login-form,
#registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.posts-list > .post {
    width: 450px;
    border: 1px solid lightgrey;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.post-footer > * {
    padding: 0 10px;
    vertical-align: middle;
}
.post-footer {
    vertical-align: bottom;
    border: solid #DFDFDF;
    border-width: 1px 0 1px 0;
    padding: 6px 0;
}
#post-form-block form {
    width: 470px;
    margin: auto;
}
#post-form-block form > input {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    width: 340px;
    margin-right: 20px;
}
#post-form-block form > * {
    vertical-align: middle;
}
.post-comment-form button {
    padding: 6px 3px 4px 5px;
    border-radius: 3px;
}
.post-comment-form >input {
    background-color: white;
    width: 86%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    vertical-align: top;
    margin-right: 3px;
}
.comments-list-block > ul > li {
    margin: 15px 0;
    background: #EEEEEE;
    padding: 10px;
    border-radius: 10px;
}

.comments-list-block > ul {
    padding: 0;
}

.login-form button, .registration-form button {
    margin-top: 20px;
    width: 100%;
    font-size: large;
}

.notifications-menu {
    position: absolute;
    right: -170px;
    top: 50px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
    width: 400px;
}


.notifications > ul {
    margin: 0;
    padding: 0;
}

.notifications-menu ul {
    list-style: none;
    padding: 0;
}

.notifications-menu > ul > li {
    background: lightgrey;
    margin: 10px 0;
    border-radius: 4px;
    padding: 10px;
}


nav#main-nav ul {
    list-style: none;
}
nav#main-nav > ul > li {
    display: inline-flex;
}
ain-nav {
    background: white;
}
button#activity_block {
    padding: 14px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    color: grey;
}

button#activity_block:hover {
    color: black;
}
.notifications-menu > h3 {margin-top: 0px;}
nav#main-nav > ul {
    padding-left: 20px;
}
nav#main-nav h3 {
    margin: 0;
}

nav#main-nav > ul {
    padding: 0;
}

nav {}

nav#main-nav > ul ul {
    padding-left: 10px;
}
h3.title {
    margin: 0;
    padding: 0;
    font-size: larger;
}
.post p {
    margin-left: 30px;
}

div#post-form-block button {
    float: right;
}


nav#main-nav {
    z-index: 9;
    background: white;
}

div#post-form-block {
    background: white;
    position: fixed;
    margin: auto;
    width: 100%;
    left: 0;
    top: 60px;
    box-shadow: 0px 0px 15px 20px white;
}
.page.activities-page > ul > li {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid lightgrey;
    padding: 0 10px;
    margin: 20px auto;
    width: 80%;
}

.page.activities-page > ul {
    list-style: none;
}
